name: End-to-end-Parallel
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        index: [0, 1, 2] # Divisão dos testes em 3 chunks
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Run split Cypress tests
        uses: cypress-io/github-action@v6
        with:
          spec: cypress/e2e/**/*.cy.js
        env:
          SPLIT: 3 # Número total de chunks
          SPLIT_INDEX: ${{ matrix.index }}